.our__work__order {
  width: 100%;
  //   height: 100vh;
  display: flex;
  justify-content: center;
  .our__work__items {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    .our__work__title {
      font-weight: 700;
      font-size: 24px;
      color: #000000;
    }
    .our__work__desc {
      width: 800px;
      height: 20px;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      line-height: 25px;
    }
    .our__work__item {
      width: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .our__work__theFrsit {
        width: 100%;
        display: flex;
        text-align: start;
        justify-content: center;
        gap: 50px;
        align-items: center;
        .our__work__theFrsit__right {
          width: 60%;
          display: flex;
          text-align: start;
          flex-direction: column;
          gap: 20px;
          .our__work__theFirst__title {
            font-size: 25px;
            font-weight: 700;
            color: #000000;
          }
          .our__work__theFirst__desc {
            width: 750px;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            line-height: 25px;
          }
        }
      }
    }
    .our__work__btn {
      width: 200px;
      height: 50px;
      padding: 10px 22px;
      color: white;
      font-size: 18px;
      font-weight: 700;
      background-color: #00bafc;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: #00d6fc;
      }
    }
  }
}
